<footer class="footer">
    <div class="footer_backToTop">
        <a href="" (click)="scrollTop()">Back To Top</a>
    </div>
    <div class="footer_main">
        <div class="footer_main_know">
            <span>Get To Know Us</span>
            <ul>
                <li><a>About Us</a></li>
                <li><a>Careers</a></li>
                <li><a>Press Release</a></li>
                <li><a>Amazon Cares</a></li>
                <li><a>Gift a Smile</a></li>
                <li><a>Amazon Science</a></li>
            </ul>
        </div>
        <div class="footer_main_contact">
            <span>Contact with Us</span>
            <ul>
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
            </ul>
        </div>
        <div class="footer_main_money">
            <span>Make Money With Us</span>
            <ul>
                <li><a>Sell on Amazon</a></li>
                <li><a>Sell on Amozon with Acclerator</a></li>
                <li><a>Amazon Global Selling</a></li>
                <li><a>become Affiliate</a></li>
                <li><a>Fullfill by Amazon</a></li>
                <li><a>Advertise Your Product</a></li>
                <li><a>Amazon Pay on Merchants</a></li>
            </ul>
        </div>
        <div class="footer_main_help">
            <span>Let Us Help You</span>
            <ul>
                <li><a>COVID-19 and Amazon</a></li>
                <li><a>Your Account</a></li>
                <li><a>Return Center</a></li>
                <li><a>100% Purchase Protection</a></li>
                <li><a>Amazon App Download</a></li>
                <li><a>Amazon Assistabt Download</a></li>
                <li><a>Help</a></li>
            </ul>
        </div>
    </div>
    <div class="hr"></div>
    <div class="footer_language">
        <img src="../../../assets/amazon-logo.png"><a href="#"></a>
        <button>
            <mat-icon>language</mat-icon><span> Language</span>
        </button>
    </div>
    <div class="footer_region">
        <ul>
            <li>Australia</li>
            <li>Brazil</li>
            <li>Canada</li>
            <li>India</li>
            <li>France</li>
            <li>germany</li>
            <li>United States</li>
            <li>Italy</li>
            <li>japan</li>
            <li>Mexico</li>
            <li>Netherland</li>
            <li>Poland</li>
            <li>Singapore</li>
            <li>Spain</li>
            <li>Turkey</li>
            <li>United Arab Emirates</li>
            <li>United Kingdom</li>
        </ul>
    </div>
    <div class="footer_bottom">
        <div class="footer_services">
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Abe Books</span>
                    <span class="body">Books, Arts</span>
                    <span class="body">&Collectables</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Amazon Web Services</span>
                    <span class="body">Scaleable Cloud</span>
                    <span class="body">Conputing Services</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Audible</span>
                    <span class="body">Download</span>
                    <span class="body">Audio Books</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">DPReviews</span>
                    <span class="body">Digital</span>
                    <span class="body">Photography</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">IMDb</span>
                    <span class="body">Movies, TV</span>
                    <span class="body">&Celebrities</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Shopbbop</span>
                    <span class="body">Designer</span>
                    <span class="body">Fashions Brands</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Amazon Business</span>
                    <span class="body">Everything</span>
                    <span class="body">Your Business</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Prime Now</span>
                    <span class="body">2-Hours Delivary</span>
                    <span class="body">on Everyday Items</span>
                </a>
            </div>
            <div class="footer_service_items"><a class="footer_service_item" href="#">
                    <span class="head">Amazon Prime Service</span>
                    <span class="body">90 million songs, ad-free</span>
                    <span class="body">Over 15 million podcast episodes</span>
                </a>
            </div>


        </div>
        <div class="footer_copyright">
            <span>Conditions of Use & Sale</span>
            <span>Privacy Notice</span>
            <span>Interest-Based Ads</span>
            <span>© 1996-2022, Amazon.com, Inc. or its affiliates</span>
        </div>
    </div>
</footer>